---
import Chart from './Statistics/Chart.svelte';
import Table from './Statistics/Table.svelte';

import { PATHS } from '../constants.js';
import getCommits from '../github/commits.js';

const { id } = Astro.props;

const commits = await getCommits(PATHS[id]);
---

<div class="columns">
  <div class="column is-4">
    <Chart {commits} />
  </div>
  <div class="column">
    <Table {commits} />
  </div>
</div>