---
import Statistics from '../components/Statistics.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Road Completion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <main>
        <div class="container">

            <h1 class="title is-1">
                <a target="_blank" href="https://github.com/osmbe/road-completion/">Road Completion</a>
            </h1>

            <hr>

            <ul>
                <li><a href="#be-brussels">🇧🇪 Brussels, Belgium</a> 🤖</li>
                <li><a href="#be-flanders">🇧🇪 Flanders, Belgium</a> 🤖</li>
                <li><a href="#be-wallonia">🇧🇪 Wallonia, Belgium</a></li>
                <li><a href="#lu-luxembourg">🇱🇺 Luxembourg</a> 🤖</li>
                <li><a href="#nl-netherlands">🇳🇱 Netherlands</a> 🤖</li>
                <li><a href="#xk-kosovo">🇽🇰 Kosovo</a></li>
            </ul>

            <hr>

            <h2 class="title is-2">🇧🇪 Belgium</h2>
            <h3 class="title is-3" id="be-brussels">
                Bruxelles/Brussel (Brussels)
                <a target="_blank" href="https://github.com/osmbe/road-completion/actions/workflows/belgium-brussels.yml">
                <img alt="GitHub Actions workflow" src="https://github.com/osmbe/road-completion/actions/workflows/belgium-brussels.yml/badge.svg">
                </a>
            </h3>
            <Statistics id="be-brussels"></Statistics>

            <hr>

            <h3 class="title is-3" id="be-flanders">
                Vlaanderen (Flanders)
                <a target="_blank" href="https://github.com/osmbe/road-completion/actions/workflows/belgium-flanders.yml">
                <img alt="GitHub Actions workflow" src="https://github.com/osmbe/road-completion/actions/workflows/belgium-flanders.yml/badge.svg">
                </a>
            </h3>
            <Statistics id="be-flanders"></Statistics>

            <hr>

            <h3 class="title is-3" id="be-wallonia">Wallonie (Wallonia)</h3>
            <h4 class="subtitle is-4">Brabant-Wallon</h4>
            <Statistics id="be-wallonia-bra"></Statistics>
            <h4 class="subtitle is-4">Hainaut</h4>
            <Statistics id="be-wallonia-hai"></Statistics>
            <h4 class="subtitle is-4">Liège</h4>
            <Statistics id="be-wallonia-lie"></Statistics>
            <h4 class="subtitle is-4">Luxembourg</h4>
            <Statistics id="be-wallonia-lux"></Statistics>
            <h4 class="subtitle is-4">Namur</h4>
            <Statistics id="be-wallonia-nam"></Statistics>

            <hr>

            <h2 class="title is-2" id="lu-luxembourg">
                🇱🇺 Luxembourg
                <a target="_blank" href="https://github.com/osmbe/road-completion/actions/workflows/luxembourg.yml">
                <img alt="GitHub Actions workflow" src="https://github.com/osmbe/road-completion/actions/workflows/luxembourg.yml/badge.svg">
                </a>
            </h2>
            <Statistics id="lu-luxembourg"></Statistics>

            <hr>

            <h2 class="title is-2" id="nl-netherlands">
                🇳🇱 Netherlands
                <a target="_blank" href="https://github.com/osmbe/road-completion/actions/workflows/netherlands.yml">
                <img alt="GitHub Actions workflow" src="https://github.com/osmbe/road-completion/actions/workflows/netherlands.yml/badge.svg">
                </a>
            </h2>
            <Statistics id="nl-netherlands"></Statistics>

            <hr>

            <h2 class="title is-2" id="xk-kosovo">🇽🇰 Kosovo</h2>
            <Statistics id="xk-kosovo"></Statistics>

        </div>
    </main>
</body>
</html>
