name: "Node.js CI - Script"

on:
  push:
    paths:
      - ".github/workflows/node.js-script.yml"
      - "script/**"
  pull_request:
    paths:
      - "script/**"

jobs:
  build-script:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: script
    - run: npm run build
      working-directory: script

  lint-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - run: npm ci
      working-directory: script
    - run: npm run lint
      working-directory: script
